fastapi
uvicorn
python-dotenv
SQLAlchemy
python-jose[cryptography]
pydantic
PyPDF2
python-docx
google-generativeai
pinecone-client
langchain_google_genai
langchain_pinecone
phidata


















